[submodule "public"]
	path = public
	url = https://github.com/monsoons-blog/monsoons-blog.github.io.git
	branch = master
[submodule "theotherkhanblog/public"]
	path = theotherkhanblog/public
	url = https://github.com/monsoons-blog/monsoons-blog.github.io.git
	branch = main
