<nav class="navigation">

	<a style="font-size: larger; 
		   color: #0366d6;
		   text-align: left;
		   top: 5px;
		   padding: 40px 10px;">
		   M O N S O O N S</a>
		   
	{{ if not .IsHome }}
		<a href="{{ "/" | relURL }}"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	<a href="{{ "/about" | relURL }}">{{ with .Site.Params.about }}{{ . }}{{ else }}{{ i18n "about" }}{{ end }}</a>

	{{ range $element := .Site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}


</nav>
